@model Brothers_WMS.Models.ManageUserViewModel

<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Create Local Login</h3>
        </div>
        <div class="box-body">
            @Html.ValidationSummary()
            <div class="form-group row">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="box-footer">
            <input type="submit" value="Set password" class="btn btn-default" />
        </div>
    </div>
}
