@using Microsoft.AspNet.Identity
<p style="display:none">
    @*@User.Identity.AccessPageIR001();
    @User.Identity.AccessPageIR002();
    @User.Identity.AccessPageIR003();
    @User.Identity.AccessPageI001();
    @User.Identity.AccessPageI002();
    @User.Identity.AccessPageS001();
    @User.Identity.AccessPageS002();
    @User.Identity.AccessPageS003();
    @User.Identity.AccessPageS004();
    @User.Identity.AccessPageS005();
    @User.Identity.AccessPageO001();
    @User.Identity.AccessPageO002();
    @User.Identity.AccessPageO003();
    @User.Identity.AccessPageO004();
    @User.Identity.AccessPageFS001();
    @User.Identity.AccessPageFS002();
    @User.Identity.AccessPageFS003();
    @User.Identity.AccessPageA001();
    @User.Identity.AccessPageA002();
    @User.Identity.AccessPageA003();
    @User.Identity.AccessPageA004();*@
</p>